.pagination {
    font-size: 1rem;
    display: inline-block;

    a {
        line-height: 1;
        border-bottom: none;
        // border-radius: 3px;
        text-decoration: none;
        color: $primary;
    }

    li {
        display: inline;
        margin: 0;
        padding: $base/2 $base;
        text-align: center;
        // border: 1px solid $primary;
        background: $grey-lighter;

        &:hover {
            background: $grey-light;
        }
    }

    .first,
    .last {
        padding: .5em 1em;
        background: $grey-lighter;
        color: $primary;

        &:hover {
            background: $grey-light;
        }
    }

    .disabled {
        background: $primary;

        a {
            color: $white;
        }

        &:hover {
            background: $primary;
        }
    }
}
