.pagination {
    font-size: 1rem;
    display: inline-block;

    a {
        line-height: 1;
        border-bottom: none;
        // border-radius: 3px;
        text-decoration: none;
        color: $white;
    }

    li {
        display: inline;
        margin: 0;
        padding: $base/2 $base;
        text-align: center;
        border: 1px solid $white;
        background: $italian;

        &:hover {
            background: darken($italian, 13%);
        }
    }

    .first,
    .last {
        background: $italian;
        padding: .5em 1em;

        &:hover {
            background: darken($italian, 13%);
        }
    }

    .disabled {
        background: $grey-light;

        &:hover {
            background: $grey-light;
        }
    }
}
