/**
 * Title:
 *    Summary area for detail pages
 * Description:
 *
 */

.summary {
    margin-top: $base;

    .summary-detail {
        padding: $base;
    }

    @include respond-min($bp2) {
        margin-top: -300px;

        .summary-detail {
            width: 45%;
            height: 100%;
            // float: right; Float ignored so child takes 100% of height
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
