/**
 * Title:
 *    Downloads
 * Description:
 *    Download section
 */



/* $. Stuff
\*----------------------------------------------------------------*/
.downloads {
	background: #F8F8F8;
}

.download__link {
	max-width: 200px;
	margin-bottom: $base*2;
	vertical-align: top;

	@include respond-min($bp2) {
		margin-bottom: 0;
		text-align: center;
	}
}

.download__icon {
	display: block;

    @include respond-min($bp2) {
    	margin: 0 auto;
    }
}
