/**
 * Title:
 *    Google map
 * Description:
 *    Google map area
 */



/* $. Bits for ACF Map
\*----------------------------------------------------------------*/
.acf-map {
	width: 100%;
	height: 400px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
