/**
 * Title:
 *    Slider
 * Description:
 *    Slider area of summary restaurant cards (uses slick slider)
 */

.slider__container {
	position: relative;

	@include respond-min($bp3) {
		width: 55%;
		float: left;
	}
}

.slider {
    visibility: hidden;
}

.slider.slick-initialized {
    visibility: visible;
}

.slider img {
	max-width: 400px;

	@include respond-min($bp1) {
		max-width: 100%;
	}

	@include respond-min($bp2) {
		min-width: 840px;
	}

	@include respond-min($bp3) {
		min-width: auto;
		max-width: 620px;
	}
}

.slider-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(31,31,31, 1);
}

.slider-nav {
	.slick-list {
		.slick-track {
			background: rgba(0,0,0, .25);

			.slick-current {
				opacity: .5;
			}

			.slick-slide {
				width: 70px;
				height: auto;
			}
		}
	}
}

.slick-list {
	padding: 0 !important;
}
